@import "./colors.scss";
@import "./mixins.scss";

body {
    font-family: $fontBase;
}

.appContainer {
    width: 100%;
    color: $colorBlack;

    header {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.mainMenu, .authButtonsContainer {
    margin: 20px;

    a {
        padding: 10px 10px;
        cursor: pointer;
        font-size: 18px;
        border: 1px solid transparent;
        text-decoration: none; 
        color: $colorBlack; 
        @include mobile {
            font-size: 13px;
            font-weight: 600;
        }
     }

     a:hover {
         border: 1px solid $colorBlack;
     }
}

.mainMenu {
    @include mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    a {
        @include mobile {
            font-size: 9px;
            margin: 3px;
            border: 1px solid black;
            border-radius: 5px;
        }
    }

    a:hover {
        @include mobile {
            background-color: lightgray;
        }
    }
}

.authButtonsContainer {
    display: flex;
    align-items: center;
    a {
        color: $colorGray;
        text-decoration: none;
        font-size: 14px;
    }

    a:hover {
        border: 1px solid $colorYellow;
    }

    h3 {
        margin: 0 5px;
    }

    .oddaj-rzeczy {
        border: 1px ridge lightgray;
    }
}