@import "../globals/colors.scss";
@import "../globals/mixins.scss";

.aboutContainer {
    display: flex;
    @include mobile {
        flex-direction: column;
    }
}

.textContainer {
    padding: 100px 0;
    width: 50%;
    background-color: $colorLightGray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
        width: 100%;
    }

    h2 {
        font-size: 38px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    p {
        text-align: center;
        font-size: 30px;
        font-weight: 200;
        margin: 30px;
        width: 50%;
        letter-spacing: 0.6px;
        text-align: justify;
        @include mobile {
            font-size: 24px;
            width: 90%;
            margin: 50px;            
        }
    }

    .signature {
        margin-right: 100px;
        align-self: flex-end;
    }

}

.imageContainer {
    padding: 70px 0;
    width: 50%;
    background-image: url("/assets/People.jpg");
    background-size: cover;
    @include mobile {
        display: none;
    }
}