@import "../globals/colors.scss";

.contactAndFooterContainer {
    position: relative;
    height: 630px;
    background-color: $colorLightGray;
    background-image: url("/assets/Background-Contact-Form.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    z-index: 0;
}

.contactAndFooterContainer::after {
    position: absolute;
    content: " ";    
    background-color: rgba($color: white, $alpha: 0.90);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.contactContainer {    
    display: flex;
    justify-content: flex-end;
    height: 90%;    
}

.formContainer {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 150px;
    z-index: 2;

    h2 {
        font-size: 38px;
        margin-bottom: 50px;
    }

    img {
        margin-bottom: 50px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 16px;
        font-weight: 600;

        .senderDetails {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            div {
                width: 48%;
                margin-bottom: 20px;

                input {
                    margin-top: 20px;
                    padding-bottom: 10px ;
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    border-bottom: 1px solid $colorBlack;
                    font-size: 15px;

                }
            }
        }

        textarea {
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $colorBlack;
            overflow: hidden;
            resize: none;
            font-family: 'Open Sans', sans-serif;;
            font-size: 14px;
            letter-spacing: 0.2px;
        }

        button {
            align-self: flex-end;
            background-color: transparent;
            padding: 10px 50px;
            cursor: pointer;
        }

    }
    
}

.footer {
    display: flex;
    height: 10%;

    div {
        width: 33.3%;
        z-index: 2;
    }

    .copyright {
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .socialLinks {
        display: flex;
        justify-content: center;

        img {
            margin: 5px;
        }
    }
}

