@import "../globals/colors.scss";
@import "../globals/mixins.scss";

.heroContainer {
    position: relative;
    display: flex;
    height: 750px;
    @include mobile {
        flex-direction: column-reverse;
        height: 100%;
    }
}

.heroImage {
    width: 1368px;
    height: 963px;
    background-image: url("/assets/Home-Hero-Image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: -134px;
    @include mobile {
        height: 510px;
        position: inherit;
        top: 0;
        width: 100%;
        background-size: contain;
    }
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
        margin: 100px 0;
    }

    img {
        margin: 30px;
    }
}

.title {
    font-size: 38px;
    text-align: center;
}

.ctaContainer {
    display: flex;
    span {
        line-height: 1.2;
        cursor: pointer;
        margin: 10px;
        text-align: center;
        padding: 15px 50px;
        border: 1px solid $colorBlack;
    }
}