@import "../globals/colors.scss";
@import "../globals/mixins.scss";

.simpleStepsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 38px;
        margin-bottom: 50px;
        text-align: center;
    }
}

.steps {
    width: 100%;
    background-color: $colorLightGray;
    display: flex;
    justify-content: space-around;
    @include mobile {
        flex-direction: column;
    }


    .singleCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0;

        h3 {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        img {
            margin-bottom: 20px;
        }

        div {
            height: 2px;
            width: 70px;
            background-color: $colorBlack;
            margin-bottom: 20px;
        }

        p {
            color: $colorBlack;
            text-align: center;
        }   

    }
}



.cta {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        cursor: pointer;
        font-size: 38px;
        font-weight: 300;
        border: 1px solid $colorBlack;
        padding: 10px 90px;
    }
}