@import "../globals/colors.scss";
@import "../globals/mixins.scss";

.statsContainer {
    background-color: $colorYellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include mobile {
        flex-direction: column;
        height: 100%;
        padding: 50px 0;
    }

    div {
        width: 330px;
        text-align: center;
        padding: 40px 0;

        h2 {
            font-size: 90px;
        }

        h3 {
            font-size: 18px;
            font-weight: 700;
            margin: 20px 0;
        }
    }

}