@import "../../globals/mixins.scss";

.pageContainer {
    width: 650px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadein 2s;
    align-self: center;
    @include mobile {
        width: 100%;
    }

    h2 {
        font-size: 36px;
        margin-bottom: 50px;
        text-align: center;
        line-height: 1.5;
        @include mobile {
            font-size: 28px;
        }
    }

    img {
        width: 40%;
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}