@import "../globals/colors.scss";
@import "../globals/mixins.scss";

.warningContainer {
    width: 100%;
    background-color: $colorYellow;
    padding: 100px 140px;
    box-sizing: border-box;
    @include mobile {
        padding: 50px;
        text-align: justify;
    }

    h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    p {
        font-size: 22px;
    }
}